body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #EFEFEF;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout-info {
  border-left-color: #1b809e;
}

.box{
	vertical-align: middle;
	text-align: center;
}

.box-add-account {
	height: 306px;
}

.box-add-account  a{
	line-height: 306px;
	font-weight: bold;
}

.box-tabs > li > span {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    line-height: 1.42857;
    margin-right: 2px;
    display: block;
    padding: 10px 0px;
    position: relative;
}
.box-tabs > li > a{
	border-bottom: 1px solid #
}
.box-tabs > li.active > a,.box-tabs > li.active:hover > a,.box-tabs > li.active > a:focus{
	background: none;
	border: 1px solid transparent;
   border-bottom: 2px solid #666;
} 

.box-tabs > li:hover > a{
	border: 1px solid transparent;
	background: none;
}

.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}